body{
 background-image: url("../img/bg.jpg");
}

.container{
 width:450px;
 background-color: rgba(24, 33, 52, 0.7);
 margin: 130px auto 0 auto;
 text-align: center;
 padding-bottom: 20px;
 padding-top: 30px;
}
 
.container img{
 width:80px;
 height:80px;
 margin: -60px 0 30px 0;
 border: 5px solid #1a394f;
 border-radius: 50%;
}
input[type="text"],input[type="password"],input[type="email"]{
 width: 300px;
 height:50px;
 font-size: 18px;
 margin-bottom: 25px;
 border-radius: 4px;
 padding-left: 40px;
}
.oglav
{
font-size:50;
color: #2ca8c6;
margin: -75px 20px 50px 20px;
}
.dws-input input:hover{
 box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}
.dws-submit {
 padding: 13px 30px;
 margin: 5px 0 20px 0;
 font-size: 15px;
 color: #fff;
 background-color: #2ca8c6;
 border: none;
 border-bottom: 4px solid #6ee9fd;
 cursor: pointer;
}
.dws-submit:hover{
 transition: all 0.5s;
 background: #fff;
 color: #2c536c;
}

.dws-input::before{
 font-family: "FontAwesome";
 content: "\f007";
 position: absolute;
 font-size: 30px;
 padding: 10px 0 0 7px;
 color: #2c536c;
}

.dws-input:nth-child(3)::before{
    content: "\f0e0";
}

.dws-input:nth-child(4)::before{
    content: "\f023";
}

.dws-input:nth-child(5)::before{
    content: "\f023";
}

.dws-input:hover::before{
 color: #319ebc;
 transition: all 0.3s;
}



